<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/global.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs") %>
    <form action="/<%= user.id %>/update" method="POST" class="update-form">
      <ul>
        <li>
          <input
            type="text"
            name="firstName"
            value="<%= user.firstName %>"
            required
            placeholder="First name"
          />
        </li>
        <li>
          <input
            type="text"
            name="lastName"
            value="<%= user.lastName %>"
            required
            placeholder="Last name"
          />
        </li>
        <li>
          <input
            type="text"
            name="email"
            value="<%= user.email %>"
            required
            placeholder="Email address"
          />
        </li>
        <li>
          <input
            type="number"
            name="age"
            id="age"
            value="<%=user.age%>"
            min="0"
            placeholder="Age"
          />
        </li>
        <li>
          <textarea
            name="bio"
            id="bio"
            maxlength="200"
            wrap="soft"
            rows="8"
            placeholder="Bio (optional)"
          >
<%=user.bio%></textarea
          >
        </li>
        <li>
          <button type="submit">Update User</button>
        </li>
      </ul>
    </form>

    <a href="/">Back to home</a>
  </body>
</html>
